streamlit==1.44.1
pandas
numpy==2.0.2
scikit-learn==1.6.1
joblib==1.5.3
matplotlib
xgboost

python-dotenv

openai

langchain

langchain-community

langchain-text-splitters

langchain-huggingface

faiss-cpu

pypdf

sentence-transformers

tiktoken
